<a href="https://colab.research.google.com/github/noviytrendASU/123123/blob/main/Kashirov_laba1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Получение данных

Знакомому формату электронной таблицы Excel в Pandas соответствует структура данных DataFrame. Аналитики обычно называют такие объекты просто DataFrame.
В рабочей практике вы столкнётесь с тем, что данные хранят в файлах разных форматов. Из них самый распространённый – CSV (от англ. Comma-Separated Values, «значения, разделённые запятой»). Каждая строка такого файла представляет собой одну строку таблицы, где данные разделены запятыми. В первой строке собраны заголовки столбцов (если они есть).

Файлы CSV удобнее всего открывать вызовом метода read_csv() из библиотеки Pandas.
Команда для открыия файла имеет вид:
**import pandas as pd
df = pd.read_csv('music_log.csv') # аргумент - путь к файлу**

Теперь все данные из файла можно напечатать на экране командой **print(df)**, но это не всегда нужно делать — не исключено, что таблица огромна и неудобна для изучения. Для знакомства с данными запрашивают несколько строк из начала или конца таблицы, вызывая специальные методы **head()** и **tail()**. По умолчанию **head()** возвращает первые 5 строк набора данных, а метод **tail()** – последние 5 строк. Когда нужно не 5, количество строк передаётся этим методам как аргумент. Например, **head(10)** вернёт первые 10 строк.

1. Загрузите базу данных по пассажирам “Титаника”.  https://raw.githubusercontent.com/allatambov/Py-programming-3/master/28-05/Titanic.csv.
2. Выведите на печать первые десять строк таблицы.

In [1]:
import pandas as pd
df = pd.read_csv('Titanic.csv')

print(df.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

## Объект DataFrame

Таблица, которую мы получили, хранится в структуре данных DataFrame. DataFrame — это двумерная структура данных Pandas, где у каждого элемента есть две координаты: по строке и по столбцу. Вы видите две оси, которые формируют объект DataFrame. Первая ось называется индексы, вторая ось — столбцы. По умолчанию индексация в DataFrame начинается с нуля.
Каждая строка — это одно наблюдение, запись об объекте исследования. А столбцы — признаки объектов. В нашем случае одна строка — это информация об одном пассажире, включая класс, фамилию-имя, возраст и т.д.
Подробнее об этом датасете можно почитать здесь http://campus.lakeforest.edu/frank/FILES/MLFfiles/Bio150/Titanic/TitanicMETA.pdf.
Для лучшего понимания данных полезно получить доступ к их описанию. Это либо документация со сведениями о содержании каждого столбца, либо – не самый лучший вариант – рассказ человека, который предоставил вам эту информацию.
Такое описание поможет нам ставить себе корректные задачи.

У DataFrame есть неотъемлемые свойства, значения которых можно запросить. Они называются атрибуты. Например, атрибут columns содержит информацию о названиях столбцов в наборе данных.
**print(df.columns)**

In [3]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

В данном случае атрибут **columns** вернул список названий столбцов и сообщил, что каждое из них имеет тип данных **object**.
Вообще типы данных могут быть разные. Для просмотра типа данных каждого столбца лучше всего использовать атрибут **dtypes**.

In [4]:
print(df.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Типы данных, о которых сообщают нам атрибуты — это типы данных библиотеки Pandas. Каждому из них соответствует определённый тип данных языка Python.
Так, для **int** таким «двойником» в Pandas будет **int64**. Тип данных object используется, когда данные не подходят ни под одну категорию или соответствуют в Python типу «строка». Вот таблица соответствия типов данных Pandas и Python:
PANDASDTYPE    PYTHON TYPE	     ЗНАЧЕНИЕ
object	          str 	         Строка
int64	          int	         Целые числа
float64	         float	         Вещественные числа
bool	          bool	         Логический тип данных
О размерах таблицы с данными сообщает её атрибут **shape**. В результате получается кортеж (неизменяемый список) из двух чисел: первое – количество строк, второе – количество столбцов.

In [34]:
print(df.shape)

(891, 12)

Всю информацию, которую предоставляют разные атрибуты **DataFrame**, можно получить вызовом одного-единственного метода **info()**. Изучив результаты, которые этот метод возвращает, аналитик выбирает тактику дальнейшей работы с таблицей.

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Например, здесь в рахных стольцах разное количество элементов с определёнными значениями (non-null). Следовательно, в таблице есть пропущенные значения (null). Прежде чем анализировать такие данные, их нужно обработать. Это одна из самых интересных задач аналитика, и мы поговорим о ней подробнее в следующей теме.

## Задачи
1. Прочитайте файл **student-mat.csv** и сохраните его в переменной **df**. Выведите на экран первые 10 строк таблицы, изучите данныи и описание к таблице. Создайте переменную **shape_table** и сохраните в ней размеры таблицы **student-mat.csv**. Напечатайте на экране размер таблицы в таком виде:
Размер таблицы: ...
2. Сколько наблюдений в наборе данных? В переменной **shape_table** хранится кортеж. Его первый элемент — количество наблюдений, который надо сохранить в переменной **observations_table** (не забывайте, что индексация элементов идёт с 0). Напечатайте на экране ответ в таком виде:
Количество наблюдений: ...
3. Найдите в информации, которую вернул метод **info()**, число наблюдений. Вручную присвойте это число как значение переменной **observations_info_table**.
4. Поскольку в ходе работы аналитик объявляет разные переменные и сохраняет в них добытую разными способами информацию, запутаться очень легко. Именно поэтому необходимо проверять себя и текущие результаты. Сравните полученные результаты в переменных observations_info_table и observations_table. Если значения переменных совпадают, то выведите количество наблюдений и сообщение:
'Решение верно, количество наблюдений равно', observations_table   
Если значения переменных не совпадают, то выведите сообщение:
'Решение неверно, проверьте ещё раз!'

In [9]:
import pandas as pd
df = pd.read_csv('student-mat.csv')
print(df.head(10))
shape_table = df.shape
print("Размер таблицы:", shape_table)

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher
1     GP   F   17       U     GT3       T     1     1   at_home     other
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other
6     GP   M   16       U     LE3       T     2     2     other     other
7     GP   F   17       U     GT3       A     4     4     other   teacher
8     GP   M   15       U     LE3       A     3     2  services     other
9     GP   M   15       U     GT3       T     3     4     other     other

   ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0  ...      4        3      4     1     1      3        6   5   6   6
1  ...      5        3      3     1     1      3        4   5   5   6
2  ...      4        3      2     2     3      3       10   7   8  10
3  ...      3        2      2     1     1      5        2  15  14  15
4  ...      4        3      2     1     2      5        4   6  10  10
5  ...      5        4      2     1     2      5       10  15  15  15
6  ...      4        4      4     1     1      3        0  12  12  11
7  ...      4        1      4     1     1      1        6   6   5   6
8  ...      4        2      2     1     1      1        0  16  18  19
9  ...      5        5      1     1     1      5        0  14  15  15

[10 rows x 33 columns]
Размер таблицы: (395, 33)

In [10]:
shape_table = df.shape
observations_table = shape_table [0]
print('Количество наблюдений:', observations_table)

Количество наблюдений: 395

In [11]:
df.info()
observations_info_table = 395
print("Количество наблюдений в таблице info:", observations_info_table)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
Количество наблюдений в таблице info: 395

In [12]:
if observations_info_table == observations_table:
  print('Решение верно, количество наблюдений равно', observations_table)
else:
  print('Решение неверно, проверьте еще раз!')

Решение верно, количество наблюдений равно 395

## Идексация в DataFrame
К каждой ячейке с данными в **DataFrame** можно обратиться по её индексу и названию столбца. Мы можем получать различные срезы данных в зависимости от того, какой запрос к **DataFrame** мы сформулируем. Этот процесс называется индексация. Для **DataFrame** она проводится разными способами.
Атрибут **loc[строка, столбец]** даёт доступ к элементу по строке и столбцу.

ВИД	                                                  РЕАЛИЗАЦИЯ
Одна ячейка	                                         .loc[7, 'genre']
Один столбец	                                     .loc[:, 'genre']
Несколько столбцов                                   .loc[:, ['genre', 'Artist']]
Несколько столбцов подряд (срез)	                 .loc[:, 'user_id': 'genre']
Одна строка	                                         .loc[1]
Все строки, начиная с заданной	                     .loc[1:]
Все строки до заданной	                             .loc[:3]
Несколько строк подряд (срез)	                     .loc[2:5]

Также вы могли заметить, что запрос к атрибуту loc[] использует квадратные скобки, это напоминает списки в Python. Индексация здесь очень похожа на индексацию списков.
Важное замечание: когда мы используем срезы в списках, то конец среза не включается в результат. А вот атрибут .loc[] тем и выделяется, что включает и начало, и конец среза.
Например, есть список исполнителей:

**artist = ['Marina Rei', 'Stive Morgan','Rixton','Henry Hall & His Gleneagles Hotel Band', 'Andrew Paul Woodworth', 'Pillar Point','Steve Campbell','David Civera','Lumipa Beats', 'Henning Wehland']**
Элементы с 2 по 4 получают запросом:
**print(artist[2:5])**
['Rixton', 'Henry Hall & His Gleneagles Hotel Band', 'Andrew Paul Woodworth']
Последним в запросе указан индекс 5 — именно для того, чтобы в срез попал элемент с индексом 4. Запрос на получение со 2 по 4 строки в таблице будет выглядеть вот так:

**print(df.loc[2:4])**
Самые ходовые запросы, которые вам предстоит делать как аналитику данных это запрашивать один столбец, одну строку, диапазон столбцов и диапазон строк.
Для подсчета количества определенных значений в срезе данных в  Pandas для этого есть метод count().
Например, на нужно подсчитать количество детей, младше трех лет на Титанике. Для столбца 'Age' таблицы  такие ячейки отвечают логическому условию df.loc[:,Age']<3.
Поскольку в указании, какие именно значения считать, нужен логический оператор, такой доступ к значению ячейки называют логическая индексация.

In [13]:
import pandas as pd
df = pd.read_csv('Titanic.csv')
print(df.loc[df.loc[:,"Age"]<3]["Age"].count())

24

ВИД	                                                  РЕАЛИЗАЦИЯ	                       СОКРАЩЁННАЯ ЗАПИСЬ
Все строки, удовлетворяющие условию	    battle.loc[battle.loc[:,'В'] == 'X']	        battle[battle['В'] == 'X']
Столбец, удовлетворяющий условию	   battle.loc[battle.loc[:,'В'] == 'X']['В']	    battle[battle['В'] == 'X']['В']
Применение метода	              battle.loc[battle.loc[:,'В'] == 'X']['В'].count()	    battle[battle['В'] == 'X']['В'].count()

## Задачи
1. Получите таблицу, состоящую из столбцов Medu и Fedu. Сохраните её в переменной parents. Выведите на экран превые 20 строк.
2. Посчитайте число матерей студентов с высшим образованием. Для этого лучше всего использовать логическое условие parents ['Medu'] == 4. Сохраните результат в переменной mother_hight. Напечатайте ответ на экране в таком виде:
Число матерей с высшим образованием равно ...

3. Теперь посчитайте число отцов студентов с высшим образованием. Допишите в код подсчёт, похожий на предыдущий, только с логическим условием parents ['Fedu'] == 4.. Сохраните результат в переменной father_hight. Напечатайте ответ на экране в таком виде:
Число отцов с высшим образованием равно ...
4. Напишите условную конструкцию, которая сравнивает полученные значения и выводит информацию о победителе в этом бою!))

In [14]:
import pandas as pd
df = pd.read_csv('student-mat.csv')
parents=df.loc[:,['Medu', 'Fedu']]
print(df.head(20))

   school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0      GP   F   18       U     GT3       A     4     4   at_home   teacher
1      GP   F   17       U     GT3       T     1     1   at_home     other
2      GP   F   15       U     LE3       T     1     1   at_home     other
3      GP   F   15       U     GT3       T     4     2    health  services
4      GP   F   16       U     GT3       T     3     3     other     other
5      GP   M   16       U     LE3       T     4     3  services     other
6      GP   M   16       U     LE3       T     2     2     other     other
7      GP   F   17       U     GT3       A     4     4     other   teacher
8      GP   M   15       U     LE3       A     3     2  services     other
9      GP   M   15       U     GT3       T     3     4     other     other
10     GP   F   15       U     GT3       T     4     4   teacher    health
11     GP   F   15       U     GT3       T     2     1  services     other
12     GP   M   15       U     LE3       T     4     4    health  services
13     GP   M   15       U     GT3       T     4     3   teacher     other
14     GP   M   15       U     GT3       A     2     2     other     other
15     GP   F   16       U     GT3       T     4     4    health     other
16     GP   F   16       U     GT3       T     4     4  services  services
17     GP   F   16       U     GT3       T     3     3     other     other
18     GP   M   17       U     GT3       T     3     2  services  services
19     GP   M   16       U     LE3       T     4     3    health     other

    ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0   ...      4        3      4     1     1      3        6   5   6   6
1   ...      5        3      3     1     1      3        4   5   5   6
2   ...      4        3      2     2     3      3       10   7   8  10
3   ...      3        2      2     1     1      5        2  15  14  15
4   ...      4        3      2     1     2      5        4   6  10  10
5   ...      5        4      2     1     2      5       10  15  15  15
6   ...      4        4      4     1     1      3        0  12  12  11
7   ...      4        1      4     1     1      1        6   6   5   6
8   ...      4        2      2     1     1      1        0  16  18  19
9   ...      5        5      1     1     1      5        0  14  15  15
10  ...      3        3      3     1     2      2        0  10   8   9
11  ...      5        2      2     1     1      4        4  10  12  12
12  ...      4        3      3     1     3      5        2  14  14  14
13  ...      5        4      3     1     2      3        2  10  10  11
14  ...      4        5      2     1     1      3        0  14  16  16
15  ...      4        4      4     1     2      2        4  14  14  14
16  ...      3        2      3     1     2      2        6  13  14  14
17  ...      5        3      2     1     1      4        4   8  10  10
18  ...      5        5      5     2     4      5       16   6   5   5
19  ...      3        1      3     1     3      5        4   8  10  10

[20 rows x 33 columns]

In [15]:
mother_hight=parents.loc[parents.loc[:,"Medu"] == 4]["Medu"].count()
print('Число матерей с высшим образованием', mother_hight)

Число матерей с высшим образованием 131

In [16]:
father_hight=parents.loc[parents.loc[:,"Fedu"] == 4]["Fedu"].count()
print('Число отцов с высшим образованием', father_hight)

Число отцов с высшим образованием 96

In [17]:
if mother_hight>father_hight:
    print('Мамы победили!')
else:
    print('Папы победили!')

Мамы победили!

## Объект Series

В таблице, которую мы рассматривали весь прошлый урок, каждый столбец сам по себе — вовсе не структура данных DataFrame.

In [18]:
import pandas as pd
df = pd.read_csv('Titanic.csv')
type(df) #Таблица всё так же имеет тип DataFrame.

pandas.core.frame.DataFrame

In [19]:
import pandas as pd
df = pd.read_csv('Titanic.csv')
type(df["Age"]) #Но если мы возьмём отдельный столбец таблицы, то он представляет собой совсем иную структуру данных — Series.

pandas.core.series.Series

Series — одномерная таблица, и её элементы можно получить по индексу. Каждый индекс — это номер отдельного наблюдения, и поэтому несколько различных Series вместе составляют DataFrame. В Series хранятся данные одного типа. У каждой Series есть имя (Name), информация о количестве данных в столбце (Length) и тип данных, которые хранятся в ней (dtype).

In [20]:
print(df['Age'])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

Индексация в Series аналогична индексации элементов столбца в DataFrame. Давайте рассмотрим на примере. Сохраним столбец Age в переменной age.

In [21]:
age=df.loc[:,'Age']

In [22]:
#Для получения пятого по индексу элемента укажем 5 в квадратных скобках.
print(age[6])

54.0

In [23]:
#Если надо получить диапазон ячеек, запросите атрибут loc с границами среза в квадратных скобках.
print(age.loc[10:20])

10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
20    35.0
Name: Age, dtype: float64

ВИД	                              РЕАЛИЗАЦИЯ	                                         СОКРАЩЁННАЯ ЗАПИСЬ
Один элемент	                    total_play.loc[7]	                                      total_play[7]
Несколько элементов	                total_play.loc[[5, 7, 10]]	                          total_play[[5, 7, 10]]
Несколько элементов подряд (срез)	total_play.loc[5:10] включая 10                       total_play[5:10] не включая 10
Все элементы, начиная с заданного	total_play.loc[1:]	                                  total_play[1:]
Все элементы до заданного	        total_play.loc[:3] включая 3	                      total_play[:3] не включая 3

Для Series также возможна логическая индексация. Рассмотрим такие примеры. Подсчитаем количествщ выживших мужчин и женщин на корабле.

1. Получим таблицу только с женщинами и сохраним ее в переменной women.

In [24]:
women=df.loc[df['Sex']=='female']
print(women.head(10))

    PassengerId  Survived  Pclass  \
1             2         1       1
2             3         1       3
3             4         1       1
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
14           15         0       3
15           16         1       2
18           19         0       3

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1

    Parch            Ticket     Fare Cabin Embarked
1       0          PC 17599  71.2833   C85        C
2       0  STON/O2. 3101282   7.9250   NaN        S
3       0            113803  53.1000  C123        S
8       2            347742  11.1333   NaN        S
9       0            237736  30.0708   NaN        C
10      1           PP 9549  16.7000    G6        S
11      0            113783  26.5500  C103        S
14      0            350406   7.8542   NaN        S
15      0            248706  16.0000   NaN        S
18      0            345763  18.0000   NaN        S

Выделим информацию с выжившими женщинами в особую структуру данных. Сохраним столбец Survived таблицы women в переменной women_life

In [25]:
women_life=women.loc[:,'Survived']
print(women_life)

1      1
2      1
3      1
8      1
9      1
      ..
880    1
882    0
885    0
887    1
888    0
Name: Survived, Length: 314, dtype: int64

Обратимся к новой переменной women_life и подсчитаем количество выживших женщин

In [26]:
quantity_women=women_life.loc[women_life==1].count()
print('Количество выживших женщин равно', quantity_women)

Количество выживших женщин равно 233

## Задачи
1. Теперь по аналогии создайте Series, где хранятся данные только о выживаемости мужчин. Назовите его men_life и сохраните в нем данные столбца Survived.
2. Обратитесь к созданной переменной для подсчета выживших мужчин. Сохраните результат в переменной quantity_men и напечатайте на экране в виде **Количество выживших женщин равно...**.
3. Для обои полов посчитайте долю выживших в процентах. Разделите количество выживших на общее количество мужчин и женщин. Выведите значения новых переменных в процентах с точностью до одного знака после запятой.

In [27]:
men = df.loc[df['Sex']=='male']
print(men.head(10))

    PassengerId  Survived  Pclass                            Name   Sex   Age  \
0             1         0       3         Braund, Mr. Owen Harris  male  22.0
4             5         0       3        Allen, Mr. William Henry  male  35.0
5             6         0       3                Moran, Mr. James  male   NaN
6             7         0       1         McCarthy, Mr. Timothy J  male  54.0
7             8         0       3  Palsson, Master. Gosta Leonard  male   2.0
12           13         0       3  Saundercock, Mr. William Henry  male  20.0
13           14         0       3     Andersson, Mr. Anders Johan  male  39.0
16           17         0       3            Rice, Master. Eugene  male   2.0
17           18         1       2    Williams, Mr. Charles Eugene  male   NaN
20           21         0       2            Fynney, Mr. Joseph J  male  35.0

    SibSp  Parch     Ticket     Fare Cabin Embarked
0       1      0  A/5 21171   7.2500   NaN        S
4       0      0     373450   8.0500   NaN        S
5       0      0     330877   8.4583   NaN        Q
6       0      0      17463  51.8625   E46        S
7       3      1     349909  21.0750   NaN        S
12      0      0  A/5. 2151   8.0500   NaN        S
13      1      5     347082  31.2750   NaN        S
16      4      1     382652  29.1250   NaN        Q
17      0      0     244373  13.0000   NaN        S
20      0      0     239865  26.0000   NaN        S

In [28]:
men_life=men.loc[:,'Survived']
print(men_life)

0      0
4      0
5      0
6      0
7      0
      ..
883    0
884    0
886    0
889    1
890    0
Name: Survived, Length: 577, dtype: int64

In [29]:
quantity_men=men_life.loc[men_life==1].count()

print('Количество выживших мужчин равно', quantity_men)

Количество выживших мужчин равно 109

In [30]:
life = df.loc[:,'Survived']

quantity_life = life.loc[life==1].count()

print('Количество выживших равно', quantity_life)

Количество выживших равно 342

In [ ]:
percent_life_men = quantity_men / quantity_life

percent_life_women = quantity_women / quantity_life

print('Соотношение выживших мужчин ко всем выжившим', round(percent_life_men, 1),'%')
print('Соотношение выживших женщин ко всем выжившим', round(percent_life_women, 1),'%')

Соотношение выживших мужчин ко всем выжившим 0.3 %
Соотношение выживших женщин ко всем выжившим 0.7 %

In [31]:
people = life.count()
print('Количество людей равно', people)

Количество людей равно 891

In [32]:
percent_life = quantity_life / people
print('Соотношение выживших ко всем пассажирам', round(percent_life*100, 1),'%')

Соотношение выживших ко всем пассажирам 38.4 %

In [33]:
percent_life_men_to_people = quantity_men / people

percent_life_women_to_people = quantity_women / people

print('Соотношение выживших мужчин ко всем пассажирам', round(percent_life_men_to_people*100, 1),'%')
print('Соотношение выживших женщин ко всем пассажирам', round(percent_life_women_to_people*100, 1),'%')

Соотношение выживших мужчин ко всем пассажирам 12.2 %
Соотношение выживших женщин ко всем пассажирам 26.2 %

In [42]:
import pandas as pd

df = pd.read_csv('Titanic.csv')

women = df.loc[df['Sex']=='female']
man = df.loc[df['Sex']=='male']

women_life=women.loc[:,'Survived']
men_life=men.loc[:,'Survived']

quantity_women=women_life.loc[women_life==1].count()
quantity_men=men_life.loc[men_life==1].count()

fc = df.loc[df['Pclass']==1]

w_fclass = fc.loc[fc['Sex']=='female']
m_fclass = fc.loc[fc['Sex']=='male']

w_life_fclass = w_fclass.loc[:,'Survived']
m_life_fclass = m_fclass.loc[:,'Survived']

quantity_women_fclass = w_life_fclass.loc[w_life_fclass==1].count()
quantity_men_fclass = m_life_fclass.loc[m_life_fclass==1].count()

print("Выжившие женщины первого класса: ", quantity_women_fclass)
print("Выжившие мужчины первого класса: ", quantity_men_fclass)

percent_w = quantity_women_fclass/people
percent_m = quantity_men_fclass/people

print('Соотношение процента выживших мужчин из первого класса ко всем выжившим', round(percent_w*100,1),'%')
print('Соотношение процента выживших женщин из первого класса ко всем выжившим', round(percent_m*100,1),'%')

Выжившие женщины первого класса:  91
Выжившие женщины первого класса:  45
Соотношение процента выживших мужчин из первого класса ко всем выжившим 10.2 %
Соотношение процента выживших женщин из первого класса ко всем выжившим 5.1 %